body
{
	background-image:url('Template.jpg');
}
table
{
	background-color:rgba(200,200,200,0.5);
	color:black;
	box-shadow:15px 15px 15px black;
}
.A
{
	border-radius:20px;
}
.B
{
	background:linear-gradient(black,grey);
	color:white;
	padding:5px;
	border-radius:10px 0px 10px 0px;
}
.B:hover
{
	background:linear-gradient(grey,black);
}
.C
{
	color:white;
	font-size:30px;
	padding:10px 20px;
}